@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="row">
        <h1>Bites Range</h1>
        <p>Some of the most delicious bites are listed below. They are the best of the best and taste delcious, you can find them here</p>
    </div>
    <div class="col">
        <h2>Cheese Bites</h2>
        <img src="/Images/cheesebites.jfif" alt="cheese bites" style="height:350px; width:350px">
    </div>
    <div class="col">
        <h2>Chicken Bites</h2>
        <img src="/Images/chickenbites.jfif" alt="chicken bites" style="height:350px; width:350px">
    </div>
    <div class="col">
        <h2>Broccoli bites</h2>
        <img src="/Images/brocollibites.jfif" alt="broccoli bites" style="height:350px; width:350px">
    </div>
</div>

<div class="row text-center">
    <div class="row">
        <h1>Patties</h1>
        <p>Some of the most delicous Patties are listed below. They are what we think taste the best, you can find them here</p>
    </div>
    <div class="col">
        <h2>Quarter pounder</h2>
        <img src="/Images/quarterpounder.jfif" alt="quarter pounder" style="height:350px; width:600px">
    </div>
    <div class="col">
        <h2>Southern Style Chicken Pattie</h2>
        <img src="/Images/chickenpatty.jfif" alt="chicken patty" style="height:350px; width:600px">
    </div>
</div>

<div class="row text-center">
    <div class="row">
        <h1>Toppas</h1>
        <p>Some of the most delicous Toppas are listed below. We think that all of them are 10/10, you can find them here</p>
    </div>
    <div class="col">
        <h2>Lasagne Toppa</h2>
        <img src="/Images/lasagnatoppa.jfif" alt="lasagna toppa" style="height:350px; width:350px">
    </div>
    <div class="col">
        <h2>Chicken Cordon Bleu</h2>
        <img src="/Images/chickencordueblue.jfif" alt="chicken cordon bleu" style="height:350px; width:350px">
    </div>
    <div class="col">
        <h2>Bacon & Cheese Toppa</h2>
        <img src="/Images/baconcheesetoppa.jfif" alt="bacon and cheese toppa" style="height:350px; width:350px">
    </div>
</div>

<footer>
    <div class="row text-center h5">
        <ul>
                Telephone Number: 0800 529 7523
        </ul>
        <ul>
            Email address: flavorFrenzy@gmail.com
        </ul>
        <ul>
                Physical address: 182 Broadway
        </ul>
    </div>
</footer>